*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

nav ul{
    position: fixed;
    list-style: none;
    /* display: block; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* so funciona com o display: flex; */
    height: 20vh;
    width: 100%;
    background-color: rgb(230, 224, 224);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 2px 4px black;
}

nav ul a{
    float: left;
    margin: 10px;
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 1.2vw;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: default;
    transition: .95s ease-out;
    
}

nav ul a:hover{
    background-color: black;
    color: white;
    cursor: default;
}

section {
    height: 100vh;
    padding-top: 22vh;
}

main ul li a{
    text-decoration: none;
    color: black;
}

span{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 1.5vw;
    font-family: sans-serif;
    padding-bottom: 1%;
    pointer-events: none;
}

#Modulo1{
    background-color: green;
}
#Modulo2{
    background-color: green;
}
#Modulo3{
    background-color: green;
}
#Modulo4{
    background-color: green;
}
#Modulo5{
    background-color: green;
}
#Modulo6{
    background-color: green;
}
#Modulo7{
    background-color: green;
}
#Modulo8{
    background-color: green;
}

main div{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px -1.2px 3.2px black;
    /* background: url(/imagens/5.1.jpeg);
    background-size: cover; */
}

main div ul{
    padding: 20px;
    list-style: none;
}

main div ul li{
    margin-top: 10px;
    font-size: 1.5vw;
}

@media only screen and (max-width: 490px) and (orientation: portrait) {
    nav ul{
        height: 35vh;
    }
    nav ul a{
        font-size: 2.9vw;
        margin: 3.5px;
        padding: 5px 8px;
    }
    section {
        height: 100vh;
        padding-top: 37vh;
    }
    main div ul li{
        font-size: 3.5vw;
    }
    span{
        font-size: 4vw;
    }
}

@media only screen and (min-width: 490px) and (max-height: 420px) and (orientation: landscape) {
    nav ul{
        height: 45vh;
    }
    nav ul a{
        font-size: 1.5vw;
        margin: 4px;
        padding: 5px 8px;
    }
    section {
        height: 100vh;
        padding-top: 47vh;
    }
    main div ul li{
        font-size: 1.65vw;
    }
    span{
        font-size: 2vw;
    }
}